<h2>Search for Conferences</h2>
<form id="ConferenceSearch" class="form-horizontal">
    <div class="control-group">
        <label for="name" class="control-label">Name</label>
        <div class="controls">
            <input id="name" name="name" type="text" ng-model="search.name" placeholder="Enter the Conference Name"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="beginDate" class="control-label">Begin Date</label>
        <div class="controls">
            <input id="beginDate" name="beginDate" type="text" ng-model="search.beginDate" placeholder="Enter the Conference Begin Date"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="endDate" class="control-label">End Date</label>
        <div class="controls">
            <input id="endDate" name="endDate" type="text" ng-model="search.endDate" placeholder="Enter the Conference End Date"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="cfpOpenDate" class="control-label">Cfp Open Date</label>
        <div class="controls">
            <input id="cfpOpenDate" name="cfpOpenDate" type="text" ng-model="search.cfpOpenDate" placeholder="Enter the Conference Cfp Open Date"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="cfpCloseDate" class="control-label">Cfp Close Date</label>
        <div class="controls">
            <input id="cfpCloseDate" name="cfpCloseDate" type="text" ng-model="search.cfpCloseDate" placeholder="Enter the Conference Cfp Close Date"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="url" class="control-label">Url</label>
        <div class="controls">
            <input id="url" name="url" type="text" ng-model="search.url" placeholder="Enter the Conference Url"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="description" class="control-label">Description</label>
        <div class="controls">
            <input id="description" name="description" type="text" ng-model="search.description" placeholder="Enter the Conference Description"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="expectedAttendees" class="control-label">Expected Attendees</label>
        <div class="controls">
            <input id="expectedAttendees" name="expectedAttendees" type="text" ng-model="search.expectedAttendees" placeholder="Enter the Conference Expected Attendees"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="sponsored" class="control-label">Sponsored</label>
        <div class="controls">
            <input id="sponsored" name="sponsored" type="text" ng-model="search.sponsored" placeholder="Enter the Conference Sponsored"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="booth" class="control-label">Booth</label>
        <div class="controls">
            <input id="booth" name="booth" type="text" ng-model="search.booth" placeholder="Enter the Conference Booth"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="numberOfRHSessions" class="control-label">Number Of RH Sessions</label>
        <div class="controls">
            <input id="numberOfRHSessions" name="numberOfRHSessions" type="text" ng-model="search.numberOfRHSessions" placeholder="Enter the Conference Number Of RH Sessions"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="estimatedCost" class="control-label">Estimated Cost</label>
        <div class="controls">
            <input id="estimatedCost" name="estimatedCost" type="text" ng-model="search.estimatedCost" placeholder="Enter the Conference Estimated Cost"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="actualCost" class="control-label">Actual Cost</label>
        <div class="controls">
            <input id="actualCost" name="actualCost" type="text" ng-model="search.actualCost" placeholder="Enter the Conference Actual Cost"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="purchaseOrder" class="control-label">Purchase Order</label>
        <div class="controls">
            <input id="purchaseOrder" name="purchaseOrder" type="text" ng-model="search.purchaseOrder" placeholder="Enter the Conference Purchase Order"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="requisitionID" class="control-label">Requisition ID</label>
        <div class="controls">
            <input id="requisitionID" name="requisitionID" type="text" ng-model="search.requisitionID" placeholder="Enter the Conference Requisition ID"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="transferID" class="control-label">Transfer ID</label>
        <div class="controls">
            <input id="transferID" name="transferID" type="text" ng-model="search.transferID" placeholder="Enter the Conference Transfer ID"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="receiptID" class="control-label">Receipt ID</label>
        <div class="controls">
            <input id="receiptID" name="receiptID" type="text" ng-model="search.receiptID" placeholder="Enter the Conference Receipt ID"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="notes" class="control-label">Notes</label>
        <div class="controls">
            <input id="notes" name="notes" type="text" ng-model="search.notes" placeholder="Enter the Conference Notes"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="requestedBy" class="control-label">Requested By</label>
        <div class="controls">
            <input id="requestedBy" name="requestedBy" type="text" ng-model="search.requestedBy" placeholder="Enter the Conference Requested By"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="campaign" class="control-label">Campaign</label>
        <div class="controls">
            <input id="campaign" name="campaign" type="text" ng-model="search.campaign" placeholder="Enter the Conference Campaign"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="setupTime" class="control-label">Setup Time</label>
        <div class="controls">
            <input id="setupTime" name="setupTime" type="text" ng-model="search.setupTime" placeholder="Enter the Conference Setup Time"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="dismantleTime" class="control-label">Dismantle Time</label>
        <div class="controls">
            <input id="dismantleTime" name="dismantleTime" type="text" ng-model="search.dismantleTime" placeholder="Enter the Conference Dismantle Time"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="eloquaID" class="control-label">Eloqua ID</label>
        <div class="controls">
            <input id="eloquaID" name="eloquaID" type="text" ng-model="search.eloquaID" placeholder="Enter the Conference Eloqua ID"></input>
        </div>
    </div>
    <div class="control-group">
        <label for="sfdcID" class="control-label">Sfdc ID</label>
        <div class="controls">
            <input id="sfdcID" name="sfdcID" type="text" ng-model="search.sfdcID" placeholder="Enter the Conference Sfdc ID"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><i class="icon-search icon-white"></i> Search</a>
            <a id="Create" name="Create" class="btn" href="#/Conferences/new"><i class="icon-plus-sign"></i> Create New</a>
        </div>
    </div>
</form>
<div id="search-results">
    <table class="table table-bordered table-striped clearfix">
        <thead>
            <tr>
                <th>Name</th>
                <th>Begin Date</th>
                <th>End Date</th>
                <th>Cfp Open Date</th>
                <th>Cfp Close Date</th>
                <th>Url</th>
                <th>Description</th>
                <th>Expected Attendees</th>
                <th>Sponsored</th>
                <th>Booth</th>
                <th>Number Of RH Sessions</th>
                <th>Estimated Cost</th>
                <th>Actual Cost</th>
                <th>Purchase Order</th>
                <th>Requisition ID</th>
                <th>Transfer ID</th>
                <th>Receipt ID</th>
                <th>Notes</th>
                <th>Requested By</th>
                <th>Campaign</th>
                <th>Setup Time</th>
                <th>Dismantle Time</th>
                <th>Eloqua ID</th>
                <th>Sfdc ID</th>
            </tr>
        </thead>
        <tbody id="search-results-body">
            <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.name}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.beginDate}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.endDate}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.cfpOpenDate}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.cfpCloseDate}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.url}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.description}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.expectedAttendees}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.sponsored}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.booth}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.numberOfRHSessions}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.estimatedCost}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.actualCost}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.purchaseOrder}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.requisitionID}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.transferID}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.receiptID}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.notes}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.requestedBy}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.campaign}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.setupTime}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.dismantleTime}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.eloquaID}}</a></td>
                <td><a href="#/Conferences/edit/{{result.id}}">{{result.sfdcID}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="pagination pagination-centered">
        <ul>
            <li ng-class="{disabled:currentPage == 0}">
                <a id="prev" href ng-click="previous()">??</a>
            </li>
            <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
                <a href ng-bind="n + 1">1</a>
            </li>
            <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
                <a id="next" href ng-click="next()">??</a>
            </li>
        </ul>
    </div>
</div>